@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress-bar {
    0% {
        width: 0;
    }
}

.progress-bar>div {
    -webkit-animation: progress-bar 2s;
    -moz-animation: progress-bar 2s;
    animation: progress-bar 2s;
}

.svg-boilerplate {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input:checked+div {
    @apply border-blue-500;
}

input:checked+div svg {
    @apply block;
}